.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header
{
  padding: .5em 1em;
  background: rgba(174, 45, 253, 0.9948354341736695);
  border-bottom: solid;

  button
  {
    border: solid;
  }
}

.home
{
    padding: 5em;
}

.search
{
  width: 50%;
}

.singleEvent
{
  background-color: rgb(255, 255, 255);
  height: 100%;
  border-radius: 12%;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  height: 50vh;
}

.vote-event-container {
  display: flex;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 24px;
  margin-right: 8px; 
}

.eth-icon {
  font-size: 20px;
  color: #000;
  margin-bottom: 10%;
}

.votes-count
{
  font-weight: bold;
  font-size: 24px;
  margin-right: 8px; 
  margin-bottom: 0.5em;
}

.vote-event-content
{
  padding: 3em 5em;
}

.vote-event-details
{
  height: 30vh;
  padding-top: 2em;
}

.vote-event-wall
{
  border-radius: 12%;
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
}

.vote-event-wall-container
{
  height: 100%;
}

.vote-event-desc
{
  border: solid;
  border-radius: 25px;
  font-family: monospace;
  text-align: left;
  padding: .5em;
  height: fit-content;
}

.vote-event-title
{
  font-family: monospace;
  font-weight: bold;
  font-size: 24px;
}

.single-candidate
{
  height: fit-content;
  width: 100%;
  border: solid;
  border-radius: 30px;
  margin-bottom: 2em;
}

.candidate-img
{
  border-radius: 30px;
  height: 100%;
  width: 100%;
}

.candidate-info
{
  text-align: left;
  padding: 1em 0em;
}

span > text
{
  font-weight: bold;
}

p > span
{
  font-family: monospace;
}

.vote-btn
{
  height: 3em;
  width: 10em;
}

.single-candidate-info
{
  font-weight: bold;
}

.action-btn
{
  margin-right: .5em;
}

.manage-events-container
{
  padding: 4em;
}